/* About.module.css */

.img {
    background-image: url('../../public/utils/profile_pic.png');
    background-position: center;
    background-size: contain;
    width: 12rem;
    height: 12rem;
    transform: scale(1.025);
    border-radius: 50%;
    opacity: 0.75;
    transition-property: all;
    transition-duration: 0.35s;
}

.img:hover {
    box-shadow: 0 0 1.8rem rgb(187, 74, 187);
    transform: scale(1.055);
}

.mainImg {
    margin: 1.8rem;
    padding: 0.6rem;
    float: right;
    background-color: #21082d;
    border-radius: 50%;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* margin-top: 5.5rem; */
    overflow: hidden;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* margin-top: 1rem; */
    overflow: hidden;
}

.sec1 {
    color: rgba(220, 220, 220, 0.751);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: left;
}

.sec2 {
    color: rgba(255, 255, 255, 0.751);
    font-size: 2.3rem;
    font-weight: 600;
}

.sec3 {
    width: 65%;
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.1rem;
}

.head {
    color: rgba(255, 255, 255, 0.751);
    font-size: 2.3rem;
    margin-bottom: 1.8rem;
}

.i {
    width: 2.2rem;
    height: 2.2rem;
}

.i svg {
    width: 2.2rem;
    height: 2.2rem;
}

.label {
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 0.3rem;
    color: whitesmoke;
    margin: 0.4rem;
    width: 2.5rem;
    padding: 0.2rem;
    border: 0.05rem solid rgb(187, 74, 187);
    box-shadow: 0 0 0.2rem rgb(187, 74, 187);
    border-radius: 3%;
    transition-duration: 0.45s;
    transition-property: all;
    background-color: transparent;
    backdrop-filter: blur(0.1rem);
    flex: 0 0 20%;
}

.flex1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.main2 {
    color: rgba(255, 255, 255, 0.751);
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.main3 {
    color: rgba(255, 255, 255, 0.751);
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 650px) {
    .main3 {
        width: 98%;
    }
}

@media screen and (max-width: 1050px) {
    .flex2 {
        width: 35%;
    }
}

@media screen and (max-width: 800px) {
    .sec3 {
        width: 85%;
        font-size: 1.15rem;
    }

    .sec2 {
        font-size: 2.2rem;
    }

    .head {
        font-size: 1.8rem;
    }

    .i {
        font-size: 4rem;
    }

    .flex2 {
        width: 40%;
    }
}

@media screen and (max-width: 610px) {
    .flex2 {
        width: 12rem;
        padding-right: 0.5rem;
        flex: 0 0 10%;
    }
    .label {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 450px) {
    .sec2 {
        font-size: 2.1rem;
    }

    .sec3 {
        width: 90%;
        font-size: 1.1rem;
        font-weight: 400;
    }

    .i {
        font-size: 5rem;
    }

    .main2 {
        margin-top: 3rem;
    }
}

.sec4 {
    margin-bottom: 1.5rem;
    padding-right: 0.2rem;
    padding: 0.2rem;
}

.sec5 {
    margin-bottom: 1.5rem;
    padding: 0;
}

.hobbies {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.flex2:hover {
    transform: scale(1.04);
    box-shadow: 0 0 0.6rem rgb(187, 74, 187);
}
